127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ ansible_default_ipv4.address }} {{ hostnamectl_name }} {{ inventory_hostname }}
169.254.169.254 metadata.google.internal
